.ReadModePage {
	background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url('../../images/StandardBild.jpg');
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
}

.MuiAppBar-colorPrimary.AppBar {
	background-color: crimson;
}

.RightHandButtons {
	float: right;
	margin: 0 0 0 auto;
	display: inherit;
}

.SearchField {
	min-width: 15rem;	
	margin-left: calc((100vW - 18rem) / 2);
	position: absolute;
}

.SearchTextField {
	color: white;
}

.SearchIcon {
	color: white;
}

.SearchTextField .MuiInput-underline::after {
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	position: absolute;
	transform: scaleX(0);
	transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	border-bottom: 2px solid #3f51b5;
	pointer-events: none;

}

.SearchTextField .MuiInput-underline::before {
	left: 0;
	right: 0;
	bottom: 0;
	content: "\00a0";
	position: absolute;
	transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-bottom: 1px solid white;
	pointer-events: none;
}
	
.MuiIconButton-root.MuiAutocomplete-clearIndicator {
	color: white;
}

.MuiInputBase-inputTypeSearch.MuiInput-inputTypeSearch {
	color: white;
}

.RecipeList {
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	height: calc(100vH - 6rem);
	padding-left: calc((100vW - 63rem) / 2);
	padding-top: 2rem;
}