.Ingredient {
	display: flex;
}

.MuiFormControl-root.MuiTextField-root.IngredientsTextField {
	margin: 0.3rem;
}

.AmountTextField .MuiOutlinedInput-input {
	padding: 0.5rem;
	text-align: right;
}

.NameTextField .MuiOutlinedInput-input {
	padding: 0.5rem;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd {
	width: 12rem;
	height: 2rem;
	font-size: small;
	align-content: center;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
	width: 12rem;
	height: 2rem;
	font-size: small;
}

.IngredientsTextField .MuiInputBase-root.Mui-disabled {
	color: black;
	font-style: italic;
}

.AddIngredientName.MuiChip-root {
	margin-left: 1rem;
}

.AddIngredientNameForm {
	overflow-y: hidden;
}