.Duration.MuiChip-root {
	margin: 0 1rem;
}

.MuiFormControl-root.SetDurationForm {
	flex-direction: row;
}

.MuiTextField-root.DurationInput {
	margin: 0 1rem;
	width: 4rem;
}

.ChecktDurationButton.MuiIconButton-root {
	background-color: lightsteelblue;
}