.RecipeCard{
	width: 16rem;
	height: 15rem;
	margin: 2rem;
	margin-bottom: 5rem;
}

.RecipeCard--last {
	padding-bottom: 8rem;
}

.MuiCardContent-root{
	height: 7rem;
}

.MuiAvatar-root.MuiAvatar-circle.MuiAvatar-colorDefault {
	color: #fafafa;
	background-color: lightseagreen;
}

.MuiAvatar-root.MuiAvatar-circle.MuiAvatar-colorDefault.UnknownDuration {
	color: #fafafa;
	background-color: #bdbdbd;
}

.MuiButtonBase-root.MuiIconButton-root.DetailsButton {
	color: orange;
}

.MuiButtonBase-root.MuiIconButton-root.CopyButton {
	color: dodgerblue;
}

.MuiButtonBase-root.MuiIconButton-root.DeleteButton {
	color: tomato;
}