.RecipeCard{
	width: 17rem;
	margin: 2rem;
}

.RecipeCard--last {
	padding-bottom: 8rem;
}

.MuiCardContent-root{
	height: 7rem;
}

.MuiTypography-gutterBottom {
	text-align: left;
}

.MuiButtonBase-root.MuiIconButton-root.ActionButton:hover {
	color: #3f51b5;
}

.MuiButtonBase-root.MuiIconButton-root.ActionButton.SwapButton-focussed {
	color: #f50057;
}

.RecipeImage {
	max-width: 100%;
	max-height: 30rem;
	box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);
}

.RecipeImageWrapper{
	width: 17rem;
	height: 6rem;
	overflow: hidden;
}