.MuiFormControl-root.FormControl-From {
	margin-right: 0.4rem;
}

.MuiFormControl-root.FormControl-To {
	margin-left: 0.4rem;
}

.MuiTable-root.Table {
	margin: 0 auto;
	width: 12rem;
	margin-top: 5rem;
}