.EntryPage {
	background-image: url('../../resources/StandardBild.jpg');
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
}

.EntryPageContent {
	display: flex;
	justify-content: center;
	margin-top: 15%;
}

.MuiButton-contained.ImportButton {
	margin: 2rem;
	color: #fff;
}

.MuiButton-contained.CreateNewButton {
	background-color: green;
	color: #fff;
	margin: 2rem;
}

.MuiButton-contained.CreateNewButton:hover {
	background-color: #036f1a;
}