.EntryPage {
	background-image: url('../../resources/StandardBild.jpg');
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
}

.EntryPageContent {
	display: flex;
	justify-content: center;
	margin-top: 15%;
}

.MuiButton-contained.EntryPageButton {
	background-color: crimson;
	color: #fff;
	margin: 2rem;
}

.MuiButton-contained.EntryPageButton:hover {
	background-color: darkred;
}