.RecipeDetailsDialog .MuiDialog-paperWidthSm {
	width: 50%;
	max-width: unset;
}

.RecipeDetailsTextField.MuiFormControl-root {
	width: 100%;
}

.Label.MuiChip-root {
	margin-top: 0.3rem;
	margin-right: 0.3rem;
	font-size: small;
}

.IngredientsDetails {
	justify-content: center;
}

.Multiline .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
	font-size: small;
	width: unset;
	height: unset;
}

.MuiAccordionDetails-root.Chips {
	display: inline-block;
}

.MuiFormControl-root.AddLabelForm {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.RecipeDetailsTextField .MuiInputBase-root.Mui-disabled{
	color: inherit;
	font-style: italic;
}

.ActionButtons {
	float: right;
}

.RecipeTitle .MuiTypography-root.MuiTypography-h6 {
	font-weight: 600;
}

.Duration.MuiChip-root {
	margin: 0 1rem;
}