.RecipeDetailsDialog .MuiDialog-paperWidthSm {
	width: 80%;
	max-width: unset;
}

.RecipeDetailsDialog .MuiFormControl-root {
	width: 100%;
}

.Label.MuiChip-root {
	margin-right: 0.5rem;
}

.IngredientsDetails {
	justify-content: center;
}

.Multiline .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
	font-size: small;
	width: unset;
	height: unset;
}