.RecipeDetailsDialog .MuiDialog-paperWidthSm {
	width: 65%;
	max-width: unset;
	background-color: lightslategray;
}

.RecipeDetailsTextField.MuiFormControl-root {
	width: 100%;
}

.RecipeDetailsTitle {
	font-style: italic;
	display: contents;
	color: aliceblue;
}

.Label.MuiChip-root {
	margin-top: 0.3rem;
	margin-right: 0.3rem;
	font-size: small;
}

.NewLabel.MuiChip-root {
	margin-top: 0.3rem;
	margin-right: 0.3rem;
	font-size: small;
}


.IngredientsDetails {
	justify-content: center;
}

.Multiline .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
	font-size: small;
	width: unset;
	height: unset;
}

.MuiAccordionDetails-root.Chips {
	display: inline-block;
}

.MuiFormControl-root.AddLabelForm {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.RecipeDetailsTextField .MuiInputBase-root.Mui-disabled{
	color: inherit;
	font-style: italic;
}

.UpperChip.MuiChip-root {
	margin: 0 1rem;
	background-color: aliceblue;
}

.UpperChip.MuiChip-root:hover {
	margin: 0 1rem;
	background-color: lightsteelblue;
}

.ActionButtons {
	float: right;
}

.RecipeTitle .MuiTypography-root.MuiTypography-h6 {
	font-weight: 600;
}