.TourLine {
	display: block;
	float: left;
	height: 85vh;
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 10rem;
	max-width: 50vw;
	padding-left: 0.7rem;
	margin-right: 1rem;
}

.distance {
	height: 2rem;
	border-color: #3f51b5;
	border-left-style: solid;
	margin-left: 0.5rem;
	font-size: 0.7rem;
	color: dimgray;
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
	font-size: 0.8rem;
	text-transform: uppercase;
}

.MuiFormControlLabel-root.SelectedForm {
	color: #3f51b5;
}