.CookbookButton {
	background-color: firebrick;
	height: 2.5rem;
	width: 10rem;
	color: lightsteelblue;
	text-transform: uppercase;
	font-weight: 400;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Candara;
	border-width: 0.1rem;
	border-style: solid;
	border-color: firebrick;
}

.CookbookButton:hover {
		font-weight: 600;
		border-color: lightsteelblue;
		border-width: 0.1rem;
		border-style: solid;
		cursor: pointer;
}